{% extends "_base.html" %}
{% block title %}
About
{% endblock %}
{% block bodycontent %}
	<div class="about">
		<div class="content_wrapper">
			<div id="about_text">
				<h2 style="margin-top:0px;padding-top:0px;">About</h2>
				<div>
					Hey, so I'm Peter. I just finished receiving my masters in Human-Computer Interaction at the University of Michigan's
					School of Information. I also received my bachelors from the University of Michigan in computer science. On a more
					personal note, I love to run, bike, swim, and in general be outside. 
				</div>
				<h2>Status</h2>
				<div>
					I am activly seeking employment stating as soon as possible.
				</div>
				<div class="button" style="width: 300px;margin: 0px auto;">
					<a href="static/resume.pdf" style="text-decoration:none;font-weight:bold;color:#F1F1F1;text-align:center;display:block;">
						View my resume in PDF format.
					</a>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	
	<div style="clear:both;"></div>
{% endblock %}