<div id="adler" class="content_wrapper">
	<div>
		<div>
			<h2>Adler Planetarium</h2>
			<h3>Alternative Spring Break</h3>
			<div>
				I spent a week working at the Adler planetarium in Chicago as part of a alternative spring break program. There, I worked with one
				other student in developing and testing a iPhone app that would allow users to access additional information about an exhibit.
			</div>
		</div>
		<div class="keywords">
			User Testing | Technology Review
		</div>
	</div>
	<img src="static/adler.gif" alt="Adler Planetarium"></img>
</div>