{% extends "_base.html" %}
{% block title %}
	Adler Planetarium
{% endblock %}
{% block bodycontent %}
	<div id="single_project" class="content_wrapper">
		<div>
			<h1>Adler Planetarium</h1>
		</div>
		<div>
			<h2>Alternative Spring Break</h2>
		</div>
		<div>
			<img style="float:left;margin:0px 10px; 0px 0px" src="static/adler-building.jpg">
			<span>
				The Adler planetarium in Chicago is a America's first planetarium and has been one of my favorite museums in Chicago since I was a little boy.
				The problem is that most of the exhibits there have been there since I was a kid. The lack of funds combined with the historic nature of
				many of their exhibits make it hard to update and change them. For this reason Adler is exploring new ways to engage 
				attendees. Part of this is their new iPhone tour initiative.
			</span>
			<br/>
			<br/>
			<span>
				During my Spring Break the first year of my masters degree I participated in the School of Information's Alternative Spring Break.
				The idea is to use our skills and our free time to help various non-profits around the country. I was fortunate to be assigned
				to the iPhone tour project. Over the course of a week, me and another SI student work on loading content into the framework they provided,
				altering the framework to be more useable and in line with Adler's look and feel, and testing the system with real uses in order
				to better understand the needs of the users and how they would interact with the new system.
			</span>
			<br/>
			<img style="float:right;margin:10px 0px 10px 10px;" src="static/adler.gif">
			<br/>
			<span>
				The first portion of our time was spent getting setup, learning the system, and finding content for the tours. This was relatively easy and
				straight forward since the framework was a well documented iPhone framework built specifically for museums to give users additional information.
				We then spent some time examining the front-end and applying our usability knowledge to create the best users experience we could with the system
				while still keeping in mind how this system could be extended (with the appropriate time and resources) into a full functional and enjoyable experience.
				Finally we showed the system to various museum-goers in order to discover both their needs as users and their impressions of the system and its
				various concepts.
			</span>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
{% endblock %}