<div id="infovis" class="content_wrapper">
	<div>
		<div>
			<h2>Email Visualization</h2>
			<h3>SI 649 - Information Visualization</h3>
			<div>
				As part of my information visualization class, I worked with a small team to produce a visualization
				for our graduate programs emial list. After several rounds of prototyping, we showed our project to
				a sereis of users who, in addition to giving us some valuable feedback, enjoyed using the prototype.
			</div>
		</div>
		<div class="keywords">
			Visualization | User Testing | Prototyping
		</div>
	</div>
	<img src="static/infovis.GIF" alt="Quicken Loans mobile"></img>
</div>