{% extends "_base.html" %}
{% block title %}
	Lecture Tools
{% endblock %}
{% block bodycontent %}
	<div id="single_project" class="content_wrapper">
		<div>
			<h1>Lecture Tools</h1>
		</div>
		<div>
			<h2>Front End Developer</h2>
		</div>
		<div>
			<img style="float:left;margin:0px 10px 0px 0px;" src="static/lecture_tools.jpg">
			<span>
				Lecture Tools was my most recent job where I was a front end developer. Lecture Tools is a student education aid aimed at creating online lecture tools for professors and students. Professor are allowed to upload lectures in the form of PDFs and create various "activities" that students can partake in. These range from simple multiple choice questions to complex image questions where students can select a point on an image as an answer. Students are allowed in turn to view their professors lectures, take notes and ask questions about concepts or mark them as confusing.
			</span>
			<br/>
			<br/>
			<span>
				In this role I had many different responsibilities. Primarily I was in charge of creating and maintaining the HTML and CSS of the site, in addition to creating new features. I was in charge of ensuring that HTML and CSS were maintained to the highest standard. This involved changing old HTML to follow a more logical DOM structure and creating a standard for how the CSS was created.
			</span>
			<br/>
			<br/>
			<span>
				In addition to HTML and CSS, I also worked extensively with Javascript and various plugins including jQuery. There were many thousands of lines of Javascript and it was often my job to create, modify and delete old functions as to ensure the site has the utmost functionality while still having clean and easy to read code.
			</span>
			<br/>
			<br/>
			<span>
				Finally, while I do not use PHP too much the site was created using cakePHP, a PHP based framework that I sometimes needed to edit. The team used a github repository to house the code and report bugs.
			</span>
		</div>
	</div>
{% endblock %}