<div id="lecture_tools" class="content_wrapper">
	<div>
		<div>
			<h2>Lecture Tools</h2>
			<h3>Front End Developer</h3>
			<div>	
				Lecture Tools is a student education aid aimed at creating online lecture tools for professors and students.
				As a front end develop I am charged with cross browser compatibility, creating  and maintaining a set of CSS
				and HTML standards and more.
			</div>
		</div>
		<div class="keywords">
			HTML & CSS | Javascript | Cross-Browser compatibility
		</div>
	</div>
	<img src="static/lecture_tools.jpg" alt="Lecture Tools"></img>
</div>