{% extends "_base.html" %}
{% block title %}
	Muscle Me
{% endblock %}
{% block bodycontent %}
	<div id="single_project" class="content_wrapper">
		<div>
			<h1>Muscle Me</h1>
		</div>
		<div>
			<h2>EECS 497 - Senior Design Projects</h2>
		</div>
		<div>	
			<span>
			During my senior year of my undergraduate, I worked on a semester long senior design project called MuscleMe. The idea was this, its hard to convince people to change their lifestyles to live healthier. On the other hand people love playing games, winning achievements and leveling up. The goal was to create a system that leveraged game mechanics to incentive people to workout more just long enough so what was initially part of the game, became part of their everyday routine. Unfortunately all of the code and most of the images created for this were lost to the flow of time.
			</span>
			<br/>
			<br/>
			<span>
			At the time Facebook App were extremely popular so we, (my two teammates and I) decided to leverage that fact and uses Facebook as our delivery platform. The app worked as follows, each person that joined was able to select a MuscleMe avatar from our variety of avatars. The use would then be able to log their workouts in a flash based system. Initially three different ways to workout were supported: running, biking and lifting weights. These were selected because they represent a variety of ways people workout.
			</span>
			<br/>
			<br/>
			<span>
			Over the course of the semester, we presented our product to our class and professors who would give us feedback on what looked good and not so good. We would then meet as a group and discuss possible solutions to the problems or if the problems was even a problem of just a preference of the student. While the app is no longer operational, it did teach the whole team a lot about what goes into the development cycle and how to give a presentation (we actually got the blue screen of death during a presentation and still managed to turn it around into a very positive experience for the audience).
			</span>
		</div>
	</div>
{% endblock %}