<div id="muscleme" class="content_wrapper">
	<div>
		<div>
			<h2>Muscle Me</h2>
			<h3>EECS 497 - Senior Design Projects</h3>
			<div>	
				Muscle Me was a Facebook app where each user is given their own avatar, called a muscle me. They then log their workouts on the site
				and as they do so they gain experience points in one of three stats: strength, agility and endurance. As these three stats grow so 
				does their muscle me.
			</div>
		</div>
		<div class="keywords">
			Facebook API
		</div>
	</div>
	<img src="static/muscleme.jpg" alt="Steps Facebook application"></img>
</div>