{% extends "_base.html" %}
{% block title %}
	Universty of Michigan Health System
{% endblock %}
{% block bodycontent %}
	<div id="single_project" class="content_wrapper">
		<div>
			<h1>Universty of Michigan Health System</h1>
		</div>
		<div>
			<h2>SI 501 - Contextual Inquiry and Project Management</h2>
		</div>
		<div>
			<span>
			The University of Michigan Health System's (UMHS) Patient Education Operational Committee tasked a group of students to discover how, why and when clinicians in their health system distribute patient education material.
			</span>
			<br/>
			<br/>
			<span>
			The UMSH has recently created a single internal patient education clearinghouse (PEC) of patient education material to house all material handed out by their various department. This allowed them to ensure the quality of material given out across all departments and ensure all information was up to date. While this system was created to ease the burden of the doctors in UMHS, after a year of its use, many departments were resisting the transition and continued to use unapproved material from a private collection while little or no system to determine who received what material when. It is for this reason the PESC asked the School of Information students to investigate what the cause of this and determine what steps could be taken to ease the transition to the new system. 
			</span>
			<br/>
			<br/>
			<span>
			The team started to by investigating the clearinghouse housing the material and the extent of its functionality. The PESC had given the team an idea of what the site was meant to do and possible use cases but lack depth so the team created scenarios where material would need to be gathered and attempting to find relevant material. Various initial concerns were initially spotted, specifically with the searching mechanism. This gave the team understanding needed to progress to the next steps of the evaluation, contextual inquiry.
			</span>
			<br/>
			<br/>
			<span>
			The PESC had given the team a variety of contacts that worked in locations and departments within the UMHS. The goal was for the team to observe the various clinicians in their day to day duties in order to determine what was causing the clinicians rejection of the PEC. A series of five clinics where contacted and observed for as long as their schedules would allow and followed by a series of questions, both predefined and based on our observations of that day. After each observation session, the team would meet and decompress their observations with the rest of the team in order to ensure all members were adequately briefed on all findings. These observations were then consolidated into a series of affinity notes (each note contained exactly one piece of information relevant to our study). 
			</span>
			<br/>
			<br/>
			<span>
			After all the observations were complete the team gathered to discuss what all of the findings meant. This was achieve through the use of an affinity wall. All affinity notes were gathered and consolidated into groups that expressed on idea or finding. This process was then repeated with the newly formed groups and twice again after that. In the end the team had created six main findings, each with several groups beneath first expanding upon the meaning of the finding and eventually showing direct proof of the findings based on the teams observations of actual clinicians.
			</span>
			<br/>
			<br/>
			<span>
			The last task of the team was to brainstorm ideas for ways to improve the system and present them to the client. After a series of brainstorming sessions the team created a series of recommendations centered around the search functionality of the site, the training available for the clinics, and the separation between those who use the site and those who built and maintain it. Unfortunately because of a NDE the report itself can't be posted here but for more information please feel free to contact me. 
			</span>
		</div>
	</div>
{% endblock %}