<div id="pec" class="content_wrapper">
	<div>
		<div>
			<h2>Universty of Michigan Health System</h2>
			<h3>SI 501 - Contextual Inquiry and Project Management</h3>
			<div>
				The University of Michigan Health System's Patient Education Steering Committee tasked a group of students to discover how, 
				why and when clinicians in their health system distributing patient education material. This involved on site interviews and 
				observations of clinicians to find problems and create recommendations.
			</div>
		</div>
		<div class="keywords">
			Contextual Inquery | Affinity Wall
		</div>
	</div>
	<img src="static/pec.jpg" alt="University of Michigan Health System"></img>
</div>