<div id="pervasive" class="content_wrapper">
	<div>
		<div>
			<h2>Pervasive Study Spaces</h2>
			<h3>SI 612 - Pervasive Interaction Design</h3>
			<div>
				Pervasive Interaction Deisgn is all about thinking forward. During the course students
				spend most of their time thinking about new ways to intergrate technology into the
				spaces around us. As part of the class my team designed and prototyped a system to 
				show how busy study spaces around the dorms are.
			</div>
		</div>
		<div class="keywords">
			Needs Evaluation | Video Prototyping| Interactive Prototype
		</div>
	</div>
	<img src="static/loungeVis.gif" alt="Lounges Visualization"></img>
</div>