{% extends "_base.html" %}
{% block title %}
	Pervasive Study Spaces
{% endblock %}
{% block bodycontent %}
	<div id="single_project" class="content_wrapper">
		<div>
			<h1>Pervasive Study Spaces</h1>
		</div>
		<div>
			<h2>SI 612 - Pervasive Interaction Design</h2>
		</div>
		<div>	
			<div class="section_head">
				Project Proposal
			</div>
			<div>
				North Quad is the newest building at the University of Michigan and is a unique combination of
				academic offices, classrooms, and dorm hall. As such, the building is designed with dozens of lounges
				for both academic and recreational use. This has cause some trouble in the community in that some students
				to study while others are using the lounges to socialize. My team proposes creating a system to monitor
				the useage of the lounges so students can easily find the right space for their needs. For a more indepth
				look at the proposal or the project itself, 
				<a href="http://joserafaeljimenez.com/SI612/"> 
					check out the project website.
				</a>
			</div>
			<br/>
			<div class="section_head">
				Initial Design and Formative Study
			</div>
			<div>
				The initial concept involved creating a heat map of the build showing how busy specific locations in
				the building were. After interviewing several students and residents, we refined the idea to focus on
				a specific subset of the lounges, specifically those found within the dorm portion of the building. We
				also found that students want to more then just how busy a room is, they want to know how lound it is
				and if any of their friends are in it.
			</div>
			<br/>
			<a href="static/spacesConcept.gif">
				<img style="margin:0px auto 10px auto;width:450px;" title="Concept drawing" src="static/spacesConcept.gif">
			</a>
			<br/>
			<div>
				In the above concept story of how our project. The protagonist is in a lounge studying when a loud
				group of students arrives. Obviously she is not very happy with this situation and decides to leave and 
				find a quieter place to study. She wonders around for a while and finds another lounge but it too is
				full of people talking. She then remembers the that she can check online how busy the lounges are. She 
				pulls out her phone and finds a lounge that fits her needs.
			</div>
			<br/>
			<div class="section_head">
				Needs Evaluation and User Enactments
			</div>
			<div>
				As a continued effort to understand our users, we performed a series of need evaluations and user enactments.
				The first step in this process was to create a series of scenarios for users. We created three such scenarios:
				finding your friends in the lounges, finding a quiet place to study, and one about privacy concerns a user might
				have about their location being made public. A series of potential users were then shown sketches outlining user
				interaction with the system in the forementioned scenarios. They were given ample time to study the interactions
				and then asked a series of questions about how they felt about the scenario.
			</div>
			<br/>
			<div style="margin:auto;width:626px;">
				<a href="static/scenario1.jpg" style="text-decoration:none;border:none;">
					<img style="display:inline-block;width:200px;" title="Concept drawing" src="static/scenario1.jpg">
				</a>
				<a href="static/scenario2.jpg" style="text-decoration:none;border:none;">
					<img style="display:inline-block;width:200px;" title="Concept drawing" src="static/scenario2.jpg">
				</a>
				<a href="static/scenario3.jpg" style="text-decoration:none;border:none;">
					<img style="display:inline-block;width:200px;" title="Concept drawing" src="static/scenario3.jpg">
				</a>
			</div>
			<br/>
			<div>
				The ntext steps in the process was to get the users involved in the project themselves. In order to do
				this, a series of paper prototypes were create mimicing he various platforms the system could be
				omplemented: various tv monitors located throughout the building, website, or smartphone app. The users
				were then asked to perform various tasks related based on the storyborads and then asked how they felt 
				performing said tasks. This gave the team valuable insight into what users thought was useful and what
				they could and could not see themselves doing.
			</div>
			<br/>
			<div class="section_head">
				Video Prototype
			</div>
			<div style="margin:0px auto;width:420px;">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/ogVlbAoyLr8" frameborder="0" allowfullscreen></iframe>
			</div>
			<br/>
			<div class="section_head">
				Interactive Prototypes
			</div>
			<div>
				The final stage of the development process involved creating interactive prototypes to put in front
				of users and test. Three prototypes were developed, one for the various tv monitors around the building,
				a webpage, and finally a mobile app version. All three versions were then presented to users and tested.
				Each users was asked simple questions about their initial impression of the system and asked to perform
				four tasks using a simple speak alound procedure followed by a short post session debriefing.
			</div>
			<br/>
			<div style="margin:0px auto;width:610px;">
				<a href="lounges.html" style="text-decoration:none;border:none;width:600px;margin:0px auto;">
						<img style="display:inline-block;width:600px;" title="Concept drawing" src="static/pervasive_tv.GIF">
				</a>
			</div>
			<br/>
			<div>
				Above you can see the tv and web based version of the system. The tv and web based versions look similar
				except the the web version has interactions that allow the user to find more information about a lounge.
				You can see the <a href="lounges.html">functional web version here </a>. All data involved is fake.
			</div>
			<br/>
			<div style="margin:0px auto;width:534px;">
				<a href="static/pervasive_mobile.png" style="text-decoration:none;border:none;">
					<img style="display:inline-block;height:250px;width:auto;" title="Concept drawing" src="static/pervasive_mobile.png">
				</a>
				<a href="static/pervasive_mobile2.png" style="text-decoration:none;border:none;">
					<img style="display:inline-block;height:250px;width:auto;" title="Concept drawing" src="static/pervasive_mobile2.png">
				</a>
				<a href="static/pervasive_mobile3.png" style="text-decoration:none;border:none;">
					<img style="display:inline-block;height:250px;width:auto;" title="Concept drawing" src="static/pervasive_mobile3.png">
				</a>
			</div>
			<br/>
			<div>
				Above is the Android version of the system. Users see a list of the lounges order by one of the several metrics
				selectable on the second screen. Users can then click on a lounge to find out more information.
			</div>
			<br/>
			<div class="section_head">
				Final Proposal
			</div>
			<div>
				The last step in the process was to present our idea to various faculty members and building administrative
				staff. The group was given a live demenstration of the prototypes and the potential benefits of the system.
				Three versions of the system were then proposed (bronze, silver, and gold) with various features and costs.
			</div>
		</div>
	</div>
{% endblock %}