<div id="quicken" class="content_wrapper">
	<div>
		<div>
			<h2>Quicken Loans mobile</h2>
			<h3>SI 622 - evaluation of systems and services</h3>
			<div>
				Quicken loans asked my team to evaluate their newly launch mobile site. 
				As part of SI 622 we performed several types of evaluations including comparative analysis, 
				usability testing and heuristic analysis along with surveying and interviews using personas and 
				scenarios.
			</div>
		</div>
		<div class="keywords">
			Comparative Analysis | Surveys | Heuristic Analysis | User Testing
		</div>
	</div>
	<img src="static/quicken.jpg" alt="Quicken Loans mobile"></img>
</div>