{% extends "_base.html" %}
{% block title %}
About
{% endblock %}
{% block bodycontent %}
	<div class="about">
		<a href="static/resume.pdf" style="margin-bottom:10px;text-decoration:none;font-size:24px;">Download a PDF version of my Resume</a>
		<div class="content_wrapper" style="padding:5px;margin-top:10px;">
			<div style="text-align:center;font-weight:bold;font-size:28px;padding-top:10px;">
				Peter Andrews
			</div>
			<hr style="margin:15px 10px 15px;background-color:#87C540;color:#87C540;border-color:#87C540;"/>
			<div style="display:inline-block;width:141px;border-right:2px solid #87C540;padding:0px 5px 0px 0px;">
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;">
					Contact:
				</div>
				<div>
					pwa1532@gmail.com
					248.977.5600
					peterwandrews.com
				</div>
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;padding-top:15px;">
					Methods:
				</div>
				<div>
					- Contextual Inquiry<br/>
					- Affinity walls<br/>
					- Personas & Scenarios<br/>
					- Storyborads<br/>
					- Usability Testing<br/>
					- Survey Design<br/>
					- Heuristic Analysis<br/>
					- Comparative Analysis<br/>
					- Prototypes<br/>
				</div>
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;padding-top:15px;">
					Programming:
				</div>
				<div>
					- C++<br/>
					- Java<br/>
					- MySQL<br/>
					- Python<br/>
					- PHP<br/>
					- Javascript<br/>
					- HTML5<br/>
					- HTML<br/>
					- CSS<br/>
					- Google App Engine<br/>
				</div>
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;padding-top:15px;">
					Programs:
				</div>
				<div>
					- Illustrator<br/>
					- Fireworks<br/>
					- Photoshop<br/>
					- InDesign<br/>
					- Flash<br/>
					- Office<br/>
				</div>
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;padding-top:15px;">
					Activities:
				</div>
				<div>
					Michigan Running Club<br/>
						 - Social Outreach Chair<br/>
					MichiganEnsian<br/>
						 - Photo Editor<br/>
				</div>
			</div>
			<div style="display:inline-block;width:580px;padding:0px 0px 0px 5px;vertical-align:top;">
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;">
					Education:
				</div>
				<div>
					<div style="font-weight:bold;">University of Michigan School of Information - Ann Arbor, MI <span style="float:right;">April '12</span></div>
					<div>Master 	of Science in Information: <span style="font-style:italic">Human Computer Interaction</span></div>
					<div style="font-weight:bold;">University of Michigan College of Engineering - Ann Arbor, MI <span style="float:right;">July '12</span></div>
					<div>Bachelors of Science in Engineering: <span style="font-style:italic">Computer Science</span></div>
				</div>
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;padding-top:15px;">
					Work Experience:
				</div>
				<div>
					<div style="font-weight:bold;">
						Usability Expert: Winter '10, Alder Planetarium - Chicago, IL
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px;">
							Week long alternative spring break program to test possible iPhone based augmented reality tour of planetarium
						</li>
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px;">
							Generated recommendations for Planetarium based on user testing of museum patrons and researched technologies to augment existing framework including RFID tags and QR codes
						</li>
					</ul>
					<div style="font-weight:bold;">
						Research Assistant: Spring '10-Spring '11, University of Michigan - Ann Arbor, MI
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px;">
							Lead programmer for Facebook app using multiple languages including PHP, Javascript, HTML5, Ajax, jQuery and MYSQL
						</li>
						<li style="list-style-type: disc;display:list-item;padding:0px;">
							Worked in small Agile team environment while mentoring undergraduate assistants
						</li>
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px 0px;">
							Created front-end of Firefox plug-in that annotated Digg.com political articles testing methods to increase user's exposure to diverse opinions
						</li>
					</ul>
				</div>
				<div style="color:#87C540;font-weight:bold;padding-bottom:3px;padding-top:15px;">
					Projects:
				</div>
				<div>
				
					<div style="font-weight:bold;">
						Quicken Loans: Winter '11
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px 0px;">
							Evaluated usability and functionality of Quicken Loans mobile site using several usability methods including heuristic evaluation, surveys, comparative analysis and  user testing
						</li>
					</ul>
					
					<div style="font-weight:bold;">
						Community Capture: Fall '11
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px 0px;">
							Combined educational material with good game design principles to create a fun and educational gaming experience
						</li>
					</ul>
					
					<div style="font-weight:bold;">
						SocialU: Fall '10
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px 0px;">
							Designed mobile website to help international students adjust to the University of Michigan utilizing usability methods including personas & scenarios, user testing, and low and high fidelity prototyping
						</li>
					</ul>
					
					<div style="font-weight:bold;">
						Information Visualization: Fall '11
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px 0px;">
							Created visualization for email list allowing for reflection on group of people within the email list generated the most and what general category the content fell within
						</li>
					</ul>
					
					<div style="font-weight:bold;">
						Pervasive Design: Winter '11
					</div>
					<ul style="list-style-type: disc;padding:0px 0px 0px 40px;margin:3px 0px 10px;">
						<li style="list-style-type: disc;display:list-item;padding:0px 0px 10px 0px;">
							Evaluated the needs of patrons of lounges within the University of Michigan dorms and designed and prototyped ambient technology to satisfy observed needs
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div style="clear:both;"></div>
{% endblock %}