{% extends "_base.html" %}
{% block title %}
	SocialU
{% endblock %}
{% block bodycontent %}
	<div id="single_project" class="content_wrapper">
		<div>
			<h1>SocialU</h1>
		</div>
		<div>
			<h2>SI 682 - interactions and interfaces</h2>
		</div>
		<div>	
			<div class="section_head">
				Problem
			</div>
			<div>
				Due to cultural differences,  experience and backgrounds, many incoming students have a long period of adjustment 
				in feeling comfortable in Ann Arbor and finding friends. We want to shorten this period and make it as painless as
				possible. We also want to encourage the sharing of cultures between locals and people from elsewhere. A complete 
				overview of the project can be found <a href="http://682team.wordpress.com/">at our project website</a>.
			</div>
			<br/>
			<div class="section_head">
				Project Description
			</div>
			<div>
				We plan on making a mobile application that will help connect students of all cultures through activities do to around 
				Ann Arbor. Common interests will be the central idea around which people will connect. People that like to dance will 
				be able to find other people that like to dance. This way even though cultures may be different, they will have a central 
				idea around which to share and bond.
			</div>
			<br/>			
			<div class="section_head">
				Interviews
			</div>
			<div>
				In order to better understand the needs of our users, the SocialU team interviewed five individuals. They
				were asked questions about their time at the university, how they meet new friends, how they found out about activities
				they enjoyed attending, and if they were international students, how they developed their social networks when they first arrived.
				The results of this stage gave the team useful insights into how students, especailly international students, formed social networks
				around campus.
			</div>
			<br/>
			
			<div class="section_head">
				Personas & Scenarios
			</div>
			<div>
				Now that the team had a better understanding of its users, they created a set of four personas to aid in their design
				of the site. Two of the personas represented local students that would interact with internatinal students and show them
				around town and two were international students who want to learn about their new environments and meet new people that share
				the same interests.
			</div>
			<br/>
			<a href="static/personas-luke.pdf">
				<img style="margin:0px auto 0px auto;width:450px;" title="Our version of a Facebook wall" src="static/personas-luke.gif">
			</a>
			<br/>
			
			<div class="section_head">
				Lo-Fi & Hi-Fi Prototyes
			</div>
			<div>
				The final steps of the process were to create a series of Lo-Fi and Hi-Fi prototypes. Both of these were created through of 
				repeating cycles of design jams, discussion and refinement. After we had create a working set of Lo-Fi prototypes, the team
				should them to a series of potential users. This feed back was then used to inform and alter the designs before finally producing
				Hi-Fi protoypes. These again were shown to potential users and altered into the final product.
			</div>
			<br/>
			<div style="margin:0px auto 20px;height:306px;width:432px;">
				<a href="static/socialued.jpg" style="margin-right:20px;text-decoration:none;display:inline-block;height:300px;float:left;border:3px solid #D1D1D1;">
					<img style="height:300px;width:auto;display:inline-block;border:none;" title="calendar wireframe" src="static/socialued2.jpg">
				</a>
				<a href="static/socialuf4.jpg" style="text-decoration:none;display:inline-block;height:300px;float:left;border:3px solid #D1D1D1;">
					<img style="height:300px;width:auto;display:inline-block;border:none;" title="calendar mockup" src="static/socialuf4.jpg">
				</a>
			</div>
			<div style="margin:0px auto 20px;height:300px;width:432px;">
				<a href="static/socialucal.jpg" style="margin-right:20px;text-decoration:none;display:inline-block;height:300px;float:left;border:3px solid #D1D1D1;">
					<img style="height:300px;width:auto;display:inline-block;border:none;" title="calendar wireframe" src="static/socialucal.jpg">
				</a>
				<a href="static/socialuf3.jpg" style="text-decoration:none;display:inline-block;height:300px;float:left;border:3px solid #D1D1D1;">
					<img style="height:300px;width:auto;display:inline-block;border:none;" title="calendar mockup" src="static/socialuf3.jpg">
				</a>
			</div>
			
			
			<!--div style="margin:0px 24px;border:3px solid #87C540;display:inline-block;height:130px;">
				<a href="static/socialube.jpg" style="text-decoration:none;display:inline-block;height:130px;float:left;border-right:2px solid #87C540;">
					<img style="height:130px;width:auto;display:inline-block;border:none;" title="browse events wireframe" src="static/socialube.jpg">
				</a>
				<a href="static/socialucal.jpg" style="text-decoration:none;display:inline-block;height:130px;float:left;border-right:2px solid #87C540;">
					<img style="height:130px;width:auto;display:inline-block;border:none;" title="calendar wireframe" src="static/socialucal.jpg">
				</a>
				<a href="static/socialuce.jpg" style="text-decoration:none;display:inline-block;height:130px;float:left;border-right:2px solid #87C540;">
					<img style="height:130px;width:auto;display:inline-block;border:none;" title="create event wireframe" src="static/socialuce.jpg">
				</a>
				<a href="static/socialued.jpg" style="text-decoration:none;display:inline-block;height:130px;float:left;border-right:2px solid #87C540;">
					<img style="height:130px;width:auto;display:inline-block;border:none;" title="event details wireframe" src="static/socialued.jpg">
				</a>
				<a href="static/socialupro.jpg" style="text-decoration:none;display:inline-block;height:130px;float:left;">
					<img style="height:130px;width:auto;display:inline-block;border:none;" title="profile wireframe" src="static/socialupro.jpg">
				</a>
			</div-->
			<br/>
		</div>
	</div>
{% endblock %}