<div id="socialu" class="content_wrapper">
	<div>
		<div>
			<h2>SocialU</h2>
			<h3>SI 682 - interactions and interfaces</h3>
			<div>
				SocialU is a mobile optimized website aimed at helping international students meet new people and learn
				the culture of the University of Michigan. Several principals of design were employed such as the use of an affinity wall
				and usability testing. In the end a hi-fidelity prototype was designed and prototyped.
			</div>
		</div>
		<div class="keywords">
			Needs Evaluation | Personas & Scenarios | Prototyping
		</div>
	</div>
	<img src="static/socialu.jpg" alt="SocialU"></img>
</div>

