<div id="steps" class="content_wrapper">
	<div>
		<div>
			<h2>Steps Facebook application</h2>
			<h3>Research</h3>
			<div>	
				Steps is a facebook application several years in the works. It is meant to be used as a platform for several research papers
				produced at the University of Micahigan School of Information. Several programming languages have been used in its development
				including PHP, JavaScript, jQuery, HTML5, and MySQL.
			</div>
		</div>
		<div class="keywords">
			Facebook  API | Lead Programmer
		</div>
	</div>
	<img src="static/steps.jpg" alt="Steps facebook application"></img>
</div>