<div id="adler" class="content_wrapper">
	<div>
		<h2>Adler Planetarium</h2>
		<h3>Alternative Spring Break</h3>
		<div>
			I spent a week working at the Adler planetarium in Chicago as part of a alternative spring break program. There, I worked with one
			other student in developing and testing a iPhone app that would allow users to access additional information about an exhibit.
			Though this was a short project, the rapid pace and quality of people I worked with taught me a lot.
		</div>
	</div>
	<img src="static/adler.jpg" alt="Adler Planetarium"></img>
</div>